* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.topContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 25px;
    height: 10%;
    
    
}
.buttons {
    width: 10%;
    display: flex;
    justify-content: space-between;
}
.button {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

